@import "../../../ReactiveMixins";
@import "../../../index";

.details-title {
  color: $msw-blue;
}

$icons-container-width: 40px;

.spot {
  display: flex;
  flex-direction: column;
  padding: 0;
  color: #000000;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

  .miniGraph {
    font-size: 20px;
    display: flex;
    flex: 2;
    align-items: center;
    width: 100%;
    max-width: 350px;
    margin: auto;
    column-gap: 5px;
  }

  @include small {
    .miniGraph {
      display: none;
    }
  }
}

.icons-container {
  display: flex;
  align-content: center;
  flex-direction: column;
  width: $icons-container-width;
}

.icon {
  flex: 1;
  align-content: center;

  margin: 5px 0;

  img {
    width: 60%;
  }

  @include small {
    margin: 2.5px 0;

    .arrow-icon > img {
      margin: 2.5px 0
    }
  }
}

.button {
  cursor: pointer;
}

.spot > .spot-summary div.collapsible-icon {
  transition: all 1s;
  align-self: center;
  width: 100%;
}

.spot.open .spot-summary div.collapsible-icon {
  transform: rotate(180deg);
}

.collapsible-icon {
  img {
    cursor: pointer;
  }
}

.collapsibleContent {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  height: 400px;

  @include small() {
    height: 200px;
  }

  .timestamps {
    display: flex;
    flex-direction: row;

    .forecast-timestamp {
      flex: min-content;
      font-size: 70%;
    }

    .sample-timestamp {
      flex: min-content;
      font-size: 70%;
    }
  }
}

.spot-summary {
  display: flex;
  width: 100%;
}

.spot-title > a {
  flex: 1;
  text-overflow: ellipsis;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 85%;
}

.spot-title {
  flex: 1;
  word-break: break-word;
}

.spot-summary a:hover {
  text-decoration: underline;
}

.spot.open .spot-summary .measurements {
  flex-direction: row;
}

.spotContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 130%;
  font-weight: bold;
  margin: 20px 0;

  @include small() {
    flex-direction: column;
    row-gap: 10px;
  }
}

.arrow-icon {
  img {
    width: 40%;
  }
}

.last40days-graph-container {
  width: 100px;
}
