@import "../../../ReactiveMixins";
@import "../../../index";
@import "../../../theme";

.details-title {
  color: $msw-blue;
}

$icons-container-width: 40px;

.spot {
  display: flex;
  flex-direction: column;
  padding: 0;
  color: var(--bg-inverted);
  background: var(--spot-bg);
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(var(--bg-inverted-rgb), 0.3);

  .miniGraph {
    font-size: 20px;
    display: flex;
    flex: 2;
    align-items: center;
    width: 100%;
    max-width: 350px;
    margin: auto;
    column-gap: 5px;
  }

  @include small {
    .miniGraph {
      display: none;
    }
  }
}

.icons-container {
  display: flex;
  align-content: center;
  flex-direction: column;
  width: $icons-container-width;
}

.icon {
  cursor: pointer;
}

.icons-container .icon {
  flex: 1;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5.5px 0;
  padding: 0 !important;
  border: none !important;
  border-radius: 0;
  min-width: 0;

  .inverted-bg-icon {
    color: var(--bg-inverted);

    * {
      fill: currentColor !important;
    }
  }

  .svg-icon {
    width: 24px;
    height: 24px;
  }

  @include small {
    margin: 2.5px 0;

    .arrow-icon > .svg-icon {
      margin: 2.5px 0
    }
  }
}

.spot > .spot-summary button.collapsible-icon {
  transition: all 1s;
  align-self: center;
  width: 100%;
}

.spot.open .spot-summary button.collapsible-icon {
  transform: rotate(180deg);
}

.collapsible-icon {
  .svg-icon {
    cursor: pointer;
  }
}

.collapsibleContent {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  height: 400px;

  @include small() {
    height: 200px;
  }

  .timestamps {
    display: flex;
    flex-direction: row;

    .forecast-timestamp {
      flex: min-content;
      font-size: 70%;
    }

    .sample-timestamp {
      flex: min-content;
      font-size: 70%;
    }
  }
}

.spot-summary {
  display: flex;
  width: 100%;
}

.spot-title > a {
  flex: 1;
  text-overflow: ellipsis;
  color: var(--bg-inverted);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 85%;
}

.spot-title {
  flex: 1;
  word-break: break-word;
}

.spot-summary a:hover {
  text-decoration: underline;
}

.spot.open .spot-summary .measurements {
  flex-direction: row;
}

.spotContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 130%;
  font-weight: bold;
  margin: 20px 0;

  @include small() {
    flex-direction: column;
    row-gap: 10px;
  }
}

.icons-container .arrow-icon .inverted-bg-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.lastFewdays-graph-container {
  width: 100px;
}
