@import './theme';

body {
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  background-color: var(--bg);
  color: var(--bg-inverted);
}

a {
  color: var(--msw-blue);
}

.btn-msw {
  background-color: var(--msw-blue);
  color: white;

  &:hover {
    background-color: white;
    color: var(--msw-blue);
    border-color: var(--msw-blue);
  }
}

.btn-msw-outline {
  background-color: white;
  color: var(--msw-blue);
  border-color: var(--msw-blue);

  &:hover {
    background-color: var(--msw-blue);
    color: white;
  }
}

.btn-danger {
  &:hover {
    background-color: white;
    color: #dc3545;
    border-color: #dc3545;
  }
}

.btn-link {
  color: var(--msw-blue);
}

input[type="radio"]:checked {
  border-color: var(--msw-blue);
  background-color: var(--msw-blue);
}

#graph-toggle.form-check-input:checked {
  background-color: var(--msw-blue);
  border-color: var(--msw-blue);
}
