// use these variables for switching colors depending on light or dark mode
:root {
  --bg: #ffffff;
  --spot-bg: #ffffff;
  --bg-inverted-rgb: 0, 0, 0;
  --bg-inverted: #000000;
  --msw-blue: #3bbae8;
}

[data-theme='dark'] {
  --bg: #000000;
  --spot-bg: #000000;
  --bg-inverted-rgb: 255, 255, 255;
  --bg-inverted: #ffffff;
}

* {
  transition: background-color 0.2s ease, color 0.2s ease;
}
